html,
body,
.full-height {
    height: 100%;
}

.form-row {
    margin-top: 5px;
}

button {
    cursor: pointer;
}

.marking-section {
    margin-top: 20px;
    margin-bottom: 35px;
}

.align-right {
    text-align: right;
}

.indexer {
    margin-right: 20px;
    font-size: 1.1em;
}

.btn-prev {
    margin-right: 10px;
}

.btn-prev .fa-arrow-left {
    margin-right: 10px;
}

.btn-next .fa-arrow-right {
    margin-left: 10px;
}

.valign-content-middle>* {
    vertical-align: middle;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 15px;
}

.icon-java-bold,
.fa-file-pdf-o,
.fa-times-circle {
    color: red;
}

.fa-check-circle {
    color: green;
}

.fa-question-circle {
    color: gold;
}

.fa-padding {
    padding-right: 7px;
}

.main-view {
    padding-top: 15px;
    padding-bottom: 15px;
}

.right-view {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px 0 0 5px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.right-view>* {
    overflow: hidden;
}

#resize-handle {
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 16px;
    cursor: w-resize;
}

.file-link {
    cursor: pointer;
}

a.file-link:not([href]):hover {
    text-decoration: underline;
}

.points {
    align-items: flex-start;
    font-size: 1.2em;
    max-width: 100px;
}

.points>input.form-control {
    margin-top: 5px;
    text-align: right;
}

.points>input::-webkit-inner-spin-button,
.points>input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#control-bar {
    position: fixed;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.7);
    background-color: #efefef;
}

#control-bar button {
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

#control-bar button:hover {
    color: black;
}

#control-bar .divider {
    color: rgba(0, 0, 0, 0.2);
    float: right;
}

#control-bar .divider::before {
    content: "|";
}

.output {
    width: 100%;
}

.syntaxhighlighter {
    overflow: visible !important;
}

#code-view {
    overflow: scroll;
    margin-top: 1em;
    height: calc(100% - 167px);
}

#code-view .syntaxhighlighter {
    margin-top: 0 !important;
}

#console-output {
    height: 150px;
    overflow: scroll;
}

.error {
    color: red;
}

.issue-input .form-row {
    margin-top: 0;
}

.issue-input .col-1 {
    max-width: 35px;
}

.issue-input .col-2,
.issue-input .col-2 input {
    text-align: right;
}

.issue-input .col-2 input::-webkit-inner-spin-button,
.issue-input .col-2 input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.issue-input:not(.editable) .col {
    padding-left: 18px;
}

.issue-input:not(.editable) .col-2 {
    padding-right: 18px;
}

.issue-input input {
    margin-top: -7px;
    margin-bottom: -7px;
}

.issue-input .add-issue {
    cursor: pointer;
    color: #007bff;
}

.issue-input .add-issue:hover {
    color: #0056b3;
}

.issue-input .delete-issue {
    cursor: pointer;
    color: #dc3545;
}

.issue-input .delete-issue:hover {
    color: #c82333;
}

h2 button, h3 button, h4 button, h5 button {
    margin-left: 7px;
}

.exercise .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.exercise textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
